name: Blob storage website CI

on:
    push:
        branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: npm ci
      working-directory: cityoftraitors.com

    - name: Build
      run: npm run build
      working-directory: cityoftraitors.com

    - uses: azure/login@v2
      with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Upload to blob storage
      uses: azure/CLI@v1
      with:
        inlineScript: |
            az storage blob upload-batch --account-name cityoftraitorscom --auth-mode key -d '$web' -s ./cityoftraitors.com/build

    - name: Purge CDN endpoint
      uses: azure/CLI@v1
      with:
        inlineScript: |
           az cdn endpoint purge --content-paths  "/*" --profile-name "cityoftraitors-com-cdn-1" --name "cityoftraitors-com-cdn-1" --resource-group "cameron.wisniewski_rg_Windows_eastus2"

  # Azure logout
    - name: logout
      run: |
            az logout
      if: always()
